<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>

    <!-- 여기에 이미지를 추가합니다 -->
    <img src="../static/image/header.png" alt="헤더 이미지" id="header-image">

    <!-- 왼쪽 사이드 이미지 -->
    <div id="left-side">
        <img src="../static/image/lside.png" alt="Left side image">
    </div>


    <form method="POST">
        <div id="container">
            <div id="search-form"> 
                <form id="search-form" onsubmit="return search(event)">
                    <div id="input-group">
                        <input type="text" id="search-input" placeholder="URL입력..." name="url">
                        <input id="summaryButton" type="submit" value="Summary">
                    </div>
                </form>
            </div>

    <div id="search-results">
        
        <h2>Result</h2>
        
        <h3 id="chat-log">
            <!-- 대화 내용이 여기에 추가됩니다. -->
        </h3>
        <h3>{{summary1}}</h3>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>

        function appendMessage(content) {
            $('#chat-log').empty(); // 대화 로그 초기화
            $('#chat-log').append(content);
        }
        

        function getMessages() {
            $.get('/get_messages', function(data) {
                messages = JSON.parse(data);
                var lastMessage = messages[messages.length - 1];
                var num;
                var all_Message = '';
                
                for (num = 1; num < messages.length; num++) {
                    all_Message += messages[num].content;
                }
                
                appendMessage(all_Message);
            });
        }

        $(document).ready(function() {
            // 주기적으로 새 메시지 확인
            setInterval(getMessages, 100);
        });
    </script>

    <!-- 오른쪽 사이드 이미지 -->
    <div id="right-side">
        <img src="../static/image/rside.png" alt="Right side image">
    </div>

    <!-- 푸터에 이미지 추가 -->
    <img src="../static/image/footer.png" alt="푸터 이미지" id="footer-image">
    

</body>
</html>
