

body {
    background: #F2F2F2;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh; /* 뷰포트의 높이와 같게 설정 */
}

#search-form {
    width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
    z-index: 1;
	margin-top: 20px;
}

#input-group {
    display: flex;
    justify-content: space-between;
    width: 65%;
    position: relative; /* 이를 추가하여 #summary-button이 #input-group에 상대적으로 위치하도록 합니다 */
}

#search-input {
	padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 2px 0px #ccc;
}

#summary-button {
    background-color: #000000;
    color: #ffffff;
    padding: 0px 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
	width: 65px;
    height: 25px;
    position: absolute; /* 이를 추가하여 버튼의 위치를 절대적으로 설정할 수 있습니다 */
    right: 16px; /* 오른쪽 끝에 버튼을 위치시킵니다 */
    top: 50%; /* 상단에서부터 50%의 위치에 버튼을 놓습니다 */
    transform: translateY(-50%); /* 버튼을 수직으로 중앙에 배치합니다 */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
#summary-button:hover {
    background-color: #444444;
}

/* input[type=text] {
	padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
	margin-right: 0px;
}

input[type=submit] {
	background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 30%;
}

input[type=submit]:hover {
	background-color: #45a049;
} */

#result-container {
    position: relative;
    /* #search-results의 크기에 맞게 min-height와 min-width 설정 */
    min-height: 359px;
    min-width: 65%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#search-results {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 63%;
    min-height: 359px;
    margin-bottom: 1px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 2px #ccc;
    overflow: auto;
    /* resize: vertical;
	 */
}

h2 {
	margin-bottom: 10px;
}

p {
	margin-top: 0px;
	font-size: 16px;
	line-height: 1.5em;
}

/* # 기호와 ID 값 사용 */
#header-image {
    width: 100%;
    height: auto;
	position: relative; /* 이를 추가하여 #footer-image가 상대적으로 위치하도록 합니다 */
    z-index: 1; /* 이 값을 높여서 #footer-image가 사이드 이미지 위에 나타나게 합니다 */
}

/* 푸터 이미지 스타일 */
#footer-image {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
    bottom: 0;
}

#header-image, #footer-image {
    z-index: 1;
}

#left-side, #right-side {
    position: fixed;
    top: 0px;
    bottom: -92px;
    width: 100px;
	z-index: 0;
    position: fixed;
    top: 67px;
    width: 105px;
    z-index: 0;
    height: 596px;
}

#left-side {
    left: 0;
}

#right-side {
    right: 0;
}

#left-side img, #right-side img {
	height: calc(100% - 100px); /* 이미지의 높이를 조정하여 빈 공간을 반영합니다 */
    width: 100px;
    object-fit: cover; /* 이것은 이미지의 가로세로 비율이 유지되도록 합니다 */
}

/* 
#result-box {
    position: absolute;
    width: 67px;
    height: 26px;
    left: 0px; 
    top: 10px; 
    background: #000000;
    border-radius: 10px;
    color: #FFFFFF; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	
}
 */
